:root{
  --black: #302e2e;
  --btn-red:#E85732;
  --yellow:#FFEE8C; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .5em 1em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--black);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}